.cabecalho-home{
    background: url(../img/cabecalho-home-bg.jpg) #000 no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    padding-top: 150px;

    @media(min-width: $breakpoint-md){
        background-image: url("../img/cabecalho-home-bg-md.jpg");
    }
    @media(min-width: $breakpoint-lg){
        height: 100vh;
        .cabecalho-titulo{
            font-size: 60px;
            margin-top: 150px;
        }
        &-subtitulo{
            font-size: 22px;
        }
        .cabecalho-role{
            display: block;
            position: absolute;
            background: url(../img/icone-mouse.png) no-repeat center right;
            color: #fff;
            bottom: 10px;
            left: 50%;
            height: 50px;
            width: 190px;
            text-align: left;
            font-size: 20px;
            text-decoration: none;
            line-height: 45px;
            margin-left: -95px;
        }
    }
    @media(min-width: $breakpoint-xl){
        background-image: url("../img/cabecalho-home-bg-xl.jpg");
    }
}
.cabecalho-role{
        display: none;
}
.cabecalho-titulo{
    font-size: 40px;
    margin-bottom: 0;
}
.home-titulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;

    &::after{
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: $cor-principal;
        margin: 0 auto;
        margin-top: 15px;
    }
}
.home-titulo-branco::after{
    background-color: #fff;
}